#search-bar{
	width: 100%;
	background-color: white;
}

#info{
	width: 60%;
	margin: auto;
}

div.dog-card.card{
	padding: 0px;
	margin-right: 30px;
	margin-bottom: 30px;
}

p.dog-price{
	float:left;
}

