#search-bar{
	width: 100%;
	background-color: white;
}

#info{
	width: 60%;
	margin: auto;
}

div.dog-card.card{
	padding: 0px;

	margin-bottom: 30px;
}

p.dog-price{
	float:left;
}

#btnFilter{
	color: black;
	font-size: 20px;
}

.title{
	margin-right: 20px;
	margin-left: 18px;
}

#addButton{
	float: right;
	margin-bottom: 10px;
	margin-top: 10px;
	/* background-color: #FFE32E; */

}

#picture{
	width: 180px;
	height: 150px;
}
.cardDog{
	width:100%;
	margin-top: 15px;
	margin-bottom: 15px;
	height: 152px;
}
#deleteButton{
	float: right;
	width: 60px;
}
#deleteIcon{
	width: 40%;
}
#titleCard{
	height: 30%;
}

.infoDog{
	line-height:0.5;
}
.status{
	color: #2EABFF;
	font-size: 26px;
	line-height: 0.7;
}
#page{
	color: lightslategray;
	font-size: 15px;
	text-align: right;
}
button#prevBtn.btn.btn-info.nextprev, button#nextBtn.btn.btn-info.nextprev{
	margin-left: 15px;

}
