


.info{
	margin: auto;
	padding-top: 80px;
	width: 60%;
}
.form-group{
	margin: 50px 0px;
}

.circle{
	width: 140px;
	height: 140px;
	margin-right: 50px;
	
	border-radius: 50%;
}
#submitBtn{
	margin-top: 40px;
}

.valid-msg{
	color: red;
}
.hidden{
	visibility:hidden;
}

#title{
	text-align: center;
}