body{
	font-family: 'Kanit', sans-serif;
	font-weight: 300;
	font-size: 25px;
}
@font-face{
    font-family: kanitLight;
    src: url(../asset/font/Kanit/Kanit-Light.ttf);
}
@font-face{
    font-family: kanitMedium;
    src: url(../asset/font/Kanit/Kanit-Medium.ttf)
}
#menu{
    color: black;
    font-size: 25px;
}
#person{ 
    float: left;
}
#rightSide{
    background-color:rgba(0, 0, 0, 0.06);

}
#picture{
    width: 288.95px;
    height: 256.76px;
    box-shadow: 0px 3px 10px #00000010 ;
}
#font{
    font-family: 'kanitMedium', Kanit ,sans-serif;
    color: #815811;
    font-size: 25px;
}

.span{
    
    font-family: 'kanitMedium', Kanit ,sans-serif;
    color: #352304;
    font-size: 13px;
}

#brandMenu{
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 8px;
    padding-right: 8px;
    cursor: pointer;
    font-family: 'kanitMedium', Kanit ,sans-serif;
    color: black;
    font-size: 25px;
    font-weight: 500;
}


.card-img-top {
    width: 286.95px;
    height: 161.66px;
}
.carousel-inner img {
    width: 100%;
    height: 100%;
}

.button {
  background-color:#FFE32E;
  border: none;
  color: black;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 30%;
}
ul {
background-color: #FFE32E;
}
.sidenav {
height: 100%;
width: 150px;
position: fixed;
z-index: 1;
top: 1;
left: 0;
background-color: white;
overflow-x: hidden;
padding-top: 20px;
margin: 1 px;
}

.sidenav a,.dropdown-btn {
padding: 6px 8px 6px 16px;
text-decoration: none;
font-size: 18px;
color: #815811;
display: block;
border: none;
background: none;
width:100%;
text-align: left;
cursor: pointer;
outline: none;

}
#darkTag{
    width:20px; 
    /* margin-top:24px; */
    float: left;
    height: 20px;
    
}
/* On mouse-over */
.sidenav a:hover, .dropdown-btn:hover {
color: #815811;
}


.main {
margin-left: 160px; /* Same as the width of the sidenav */
font-size: 28px; /* Increased text to enable scrolling */
padding: 0px 10px;
position: relative;
}
/* Add an active class to the active dropdown button */
.active {
background-color: green;
color: white;
}
.dropdown-container {
display: none;
background-color:black;
padding-left: 8px;
}

/* Optional: Style the caret down icon */
.fa-caret-down {
float: right;
padding-right: 8px;
}

@media screen and (max-height: 500px) {
.sidenav {padding-top: 10px;}
.sidenav a {font-size: 18px;}
}
/*----------------------------------------*/

nav{
    background-color: #FFE32E;
    height: 80px;
}
.navbar{
    padding-left: 51px;
    padding-right: 51px;
}
.navbar-nav li > p:hover{
    background-color:#F1D102;
    font-weight: 500;
} 
.navbar-nav li > p.active{
    background-color:#F1D102;
    font-weight: 500;
} 
.nav-menu{    
    height: 80px;
    padding: 16px 8px;
    cursor: pointer;
    margin-left: 15px;
    margin-right: 15px;
    margin-bottom: 0px;
}

#brandMenu{
    font-weight: 500;
    cursor: pointer;
    margin-top: 8px;
    margin-bottom: 18px;
}

#person{ 
    float: left;
    width: 25px;
    height: 25px;
    margin-top: 6px;
    margin-right: 5px;
    
}

#aboutUs:hover{
    cursor: pointer;
}
#font{
    font-family: 'kanitMedium', Kanit ,sans-serif;
    color: #815811;
    font-size: 25px;
}
.card-text{
    font-family: 'kanitMedium', Kanit ,sans-serif;
    color: #352304;
    font-size: 20px;
    line-height: 0.9;
    font-weight: 500;
}
#subFontPicture{
    
    font-family: 'kanitMedium', Kanit ,sans-serif;
    color: #352304;
    font-size: 13px;
}