<!DOCTYPE html>
<html lang="en">

<head>
  <title>dog Info</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
    crossorigin="anonymous">

  <link rel="stylesheet" type="text/css" media="screen" href="../css/dogInfo.css" />
  <link rel="stylesheet" type="text/css" media="screen" href="../css/navbar.css" />

  <script src="../js/dogInfo.js"></script>
  <script src="../js/navigation.js"></script>


  <script src="https://code.jquery.com/jquery-3.3.1.js" integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60="
	 crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
    crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
    crossorigin="anonymous"></script>

</head>

<body>

  <!-- -------------------------- primary navbar ---------------------------- -->
  <nav class="navbar navbar-expand-lg navbar-light">
    <p class="nav-link" id="brandMenu" onclick="clickLogo()">WWWoof!</p>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02"
      aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
      <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
        <li class="nav-item " id="shopMenu" onclick="clickShopMenu()">
          <p class="nav-link nav-menu">ร้านค้า<span class="sr-only">(current)</span></p>
        </li>
        <li class="nav-item" id="foundMenu" onclick="clickFoundationMenu()">
          <p class="nav-link nav-menu">มูลนิธิ</p>
        </li>
      </ul>

      <form class="form-inline my-2 my-lg-0">
        <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
          <li class="nav-item " id="loginMenu" onclick="">
            <p class="nav-link nav-menu"><img src="../asset/icon/person.svg" alt="" style="width:40px;" id="person">
              Log in </p>
          </li>
          <li class="nav-item" id="signupMenu" onclick="">
            <p class="nav-link nav-menu">Sign up</p>
          </li>
        </ul>
      </form>
    </div>
  </nav>

  <!-- ------------------------------------------------------------------- -->

  <div class="container-fluid" id="main">
    <div class="row">
      <div class="container-fluid col-sm-9" id="leftSide">
        <div class="row">
          <div class="container-fluid col-sm-4" id="">

            <img src=" <%= dog.pictures[0] %> "
              alt="main picture" id="mainPicture">

            <div class="row" id="slideShow">
              <div class="column">
                <img class="demo cursor" id="fontSide" src="<%= dog.pictures[0] %>"
                  onclick="currentSlide(1)" alt="frontSide">
              </div>
              <div class="column" id="centerDemo">
                <img class="demo cursor" id="picTwo" src="<%= dog.pictures[1] %>"
                  onclick="currentSlide(2)" alt="leftSide">
              </div>
              <div class="column">
                <img class="demo cursor" id="picThree" src="<%= dog.pictures[2] %>"
                  onclick="currentSlide(3)" alt="rightSide">
              </div>
            </div>
          </div>

          <div class="container-fluid col-sm-7" id="contentDog">
            <div class="container-fluid col-sm-9 " id="divContent">

              <p id="dogName"><%= dog.name %></p>
              <p><b>ร้าน</b> <span class="cursor" id="shop" onclick="goToPage()"><%= dog.shopName %></span></p>
              <p class="content"><b>บริการ : </b> <span id="type"><%= dog.type %></span></p>
              <p class="content"><b>สายพันธ์ุ : </b><span id="breed"><%= dog.breed %></span> <b>ขนาด : </b><span id="size"><%= dog.size %></span></p>
              <p class="content"><b>เพศ :</b> <span id="gender"><%= dog.gender %></span></p>
              <p class="content"><b>อายุ : </b><span id="age"><%= dog.age %></span> <b>น้ำหนัก : </b><span id="weight"><%= dog.weight %></span> กก.</p>
              <p class="content"><b>พ่อพันธ์ุ : </b><span id="father"><%= dog.dadBreed %></span></p>
              <p class="content"><b>แม่พันธ์ุ : </b><span id="father"><%= dog.momBreed %></span></p>
              <p class="content"><b>สีหลัก : </b><span id="primaryColor"><%= dog.primaryColor %></span>
              <p class="content"><b>รายละเอียดอื่นๆ : </b><span id="description"><%= dog.description %></span>
            </div>
            <div class="container-fluid mx-auto ">
              <p id="Bath"><img id="tag" src="../asset/icon/black-shop-tag lightBrown.png" alt="tag" style="width:40px; margin-top:-3px; margin-right: 20px;"><%= dog.price %>
                บาท</p>
              <button type="button" class="button" data-toggle="modal" data-target="#myModal">ติดต่อร้าน</button>
            </div>
          </div>
        </div>
      </div>

      <!-- The Modal -->
      <div class="modal fade" id="myModal">
        <div class="modal-dialog modal-dialog-centered">
          <div class="modal-content">

            <!-- Modal Header -->
            <div class="modal-header">
              <h4 class="modal-title" id="shopName"><%= dog.shopName %></h4>
              <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>

            <!-- Modal body -->
            <div class="modal-body">
              <p> เบอร์โทรติดต่อ : <span id="phoneNumber"><%= dog.phoneNumner %></span> </p>
              <p id="moreInfoAboutShop" onclick="gotoInfoShop()"> รายละเอียดเพิ่มเติมเกี่ยวกับร้าน</p>
            </div>

            <!-- Modal footer -->
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>

          </div>
        </div>
      </div>

      <!-- ------------------ Right Side ------------------------------ -->
      <div class="container-fluid col-sm-3" id="rightSide">
        <p class="my-3 text-center" id="font">ตัวอื่นที่คล้ายกัน</p>

        <!-- --------------------------------------------- Card ------------------------------------------------ -->
        <div class="card my-3 mx-auto" id="pictureCard" onclick=" location.href = '<%= similarDogs[0].url %>' ">
          <img class="card-img-top" src="<%= similarDogs[0].picture %>"
            alt="dog">
          <div class="card-body">
            <div class="row">
              <div class="col-7">
                <p class="card-text" id="nameDog"><%= similarDogs[0].name %>
                  <span id="detailDog"><br><%= similarDogs[0].breed %> <%= similarDogs[0].age %></span></p>
              </div>
              <div class="col-5">
                <p class="card-text" id="price"><img src="../asset/icon/black-shop-tag.svg" alt="darkTag" id="darkTag"><%= similarDogs[0].price %>K</p>
              </div>
            </div>

          </div>
        </div>
        <!-- ---------------------------------------------------------------------------------------------------------------------------------- -->
        <div class="card my-3 mx-auto" id="pictureCard" onclick=" location.href = '<%= similarDogs[1].url %>' ">
          <img class="card-img-top" src="<%= similarDogs[1].picture %>"
            alt="dog">
          <div class="card-body">
            <div class="row">
              <div class="col-7">
                <p class="card-text" id="nameDog"><%= similarDogs[1].name %>
                  <span id="detailDog"><br><%= similarDogs[1].breed %> <%= similarDogs[1].age %></span></p>
              </div>
              <div class="col-5">
                <p class="card-text" id="price"><img src="../asset/icon/black-shop-tag.svg" alt="darkTag" id="darkTag"><%= similarDogs[1].price %>K</p>
              </div>
            </div>

          </div>
        </div>
        <!-- ---------------------------------------------------------------------------------------------------------------------------------- -->

      </div>
    </div>
  </div>

</body>

</html>